<!-- $Id: brand_list.htm 15898 2009-05-04 07:25:41Z liuhui $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- 品牌搜索 -->
{include file="brand_search.htm"}
<form method="post" action="" name="listForm">
<!-- start brand list -->
<div class="list-div" id="listDiv">
{/if}
  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>{$lang[vip_card_serial]}</th>
      <th>{$lang[vip_card_group_number]}</th>
      <th>{$lang[vip_card_number]}</th>
      <th>{$lang[vip_card_type]}</th>
      <th>{$lang[vip_card_using_status]}</th>
      <th>{$lang[vip_card_allot_status]}</th>
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$brand_list item=brand}
    <tr>
      <td align="center">{$brand.serial}</td>
      <td align="center">{$brand.group_number}</td>
      <td align="center">{$brand.card_number}</td>
      <td align="center">{$brand.card_type}</td>
      <td align="center"><img src="images/{if $brand.using_status}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_show_using_status', {$brand.id})" /></td>
      <td align="center">{if $brand.allot_status}{$brand.uname}{else}<img src="images/no.gif"/>{/if}</td>
      <td align="center">
        <a href="vip_card.php?act=edit&id={$brand.id}" title="{$lang.edit}">{$lang.edit}</a> |
        <a href="javascript:;" onclick="listTable.remove({$brand.id}, '{$lang.drop_confirm}')" title="{$lang.edit}">{$lang.remove}</a> 
      </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
    <tr>
      <td align="right" nowrap="true" colspan="6">
      {include file="page.htm"}
      </td>
    </tr>
  </table>

{if $full_page}
<!-- end brand list -->
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}