<!DOCTYPE HTML>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
    <title>乐影客，电影生活好帮手~</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="/static/web/css/c.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrap" style="height:363px">
        <div>
            <img src="/static/web/images/logo.png" width="320" height="36">
            <div></div>
        </div>
        <div class="main">
            <img src="/static/web/images/main_img1.jpg" width="320" height="199">
            <div class="main_1">
                <p>在12月29日至1月10日在以上地区观看电影《夺宝幸运星大电影之金箍棒传奇》凭观影票根可找现场工作人员兑换精美奖品一份。先到先得，送完为止。</p>
            </div>
        </div>
    </div>
</body>
</html>
