<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="乐影客" />
<meta http-equiv="description" content="乐影客" />
<title>影院信息</title>
<link href="/static/web/css/css.css" rel="stylesheet" type="text/css" />
<link href="/static/web/css/css_cinema_mes.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
</head>

<body>
<!--<iframe src="/lykweb/header" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="100%" height="110" ></iframe>-->
{% include 'header.html' %}
<div class="cin_main_message">
	<div class="cin_main_message_top">
        {% if cinema.image_url %}
            <div class="main_message_left fl"><div class="cin_logo_border"><img src="{{cinema.image_url}}" alt="" /></div></div>
        {% else %}
    	    <div class="main_message_left fl"><div class="cin_logo_border"><img src="/static/web/images/cin_logo.jpg" alt="" /></div></div>
        {% endif %}
        <div id="main_message_right" class="main_message_right fl pr">
            <!--<div id="main_message_right1_btn" class="main_message_right1_btn pa"><a href="javascript:;"></a></div>--><input id="Love" type="hidden" value="{{isfavor}}"/>
        	<div class="main_message_right1">
            	<h2 class="fl">{{cinema.name}}</h2>
                <div class="main_message_right1_btn fl">
                    <input id="like_btn" class="like_btn" type="button" value="" />&nbsp;
                    <input id="dislike_btn" class="dislike_btn" type="button" value="" />
                </div>
            </div>
            <div class="main_message_right2">
                {% if cinema.address %}
                    <p>地址：{{cinema.address}}<!--<a class="map" id="MapA" href="javascript:;"><img src="/static/web/images/map_icon2.png" width="24" height="24" align="top" /></a>--></p>
                {% endif %}
                {% if cinema.telephone %}
                    <p>电话：{{cinema.telephone}}</p>
                {% endif %}
                {% if cinema.businesshours %}
                    <p>营业时间：{{cinema.businesshours}}</p>
                {% endif %}
                {% if cinema.weibourl %}
                    <p>官方微博：{{cinema.weibourl}}</p>
                {% endif %}
                {% if cinema.weburl %}
                    <p>官方网站：{{cinema.weburl}}</p>
                {% endif %}
                <input id="cinema_id" type="hidden" value="{{cinema.id}}" />
                <input id="cinema_lon" type="hidden" value="{{cinema.longitude_baidu}}"/>
                <input id="cinema_lat" type="hidden" value="{{cinema.latitude_baidu}}"/>
                <input id="cinema_name" type="hidden" value="{{cinema.name}}"/>
                <input id="cinema_tel" type="hidden" value="{{cinema.telephone}}"/>
                <input id="cinema_addr" type="hidden" value="{{cinema.address}}"/>
                <input id="cinema_logo" type="hidden" value="{{cinema.image_url}}"/>
            </div>
            <div class="main_message_right3">
                <ul>
                    {% if features %}
                        {% for feature in features.typelist %}
                        {% if forloop.counter < featurescount %}
                            <li>{{feature}}</li>
                        {% else %}
                            <li class="last">{{feature}}</li>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="main_message_right_map_box fl">
            <a class="map" id="MapA" href="javascript:;">
            <div id="main_message_right_map" class="main_message_right_map"><img src="http://api.map.baidu.com/staticimage?center={{cinema.longitude_baidu}},{{cinema.latitude_baidu}}&width=226&height=186&zoom=15&markers={{cinema.longitude_baidu}},{{cinema.latitude_baidu}}"></div>
            </a>
        </div>
    </div>
    {% if cinema.activities %}
    <div class="cin_main_message_bottom">
    	<div class="main_message_bottom_top">
        	<h4></h4>
            <a href="/lykweb/activity/list"></a>
        </div>
        <div class="main_message_bottom_text">
            {% for activity in cinema.activities %}
        	    <p><a href="/lykweb/activity/info/{{activity.id}}" >{{forloop.counter}}.{{activity.description}}</a></p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

<div class="main_message2">
    <div class="mes_left fl">
        <div id="cinema_tab_box" class="tab_box">
            <div id="cinema_tab_title" class="tab_title">
                <ul>
                	<li class="active">正在热映</li>
                    <li>影院介绍</li>
                    <li>特色服务</li>
                    <!--<li>&nbsp;+</li>-->
                </ul>
            </div>
            <div class="tab_content" style="display:block;">
            	<div class="box">
                	<div class="hot_now">
                        {% if moviecount %}
                    	<div class="cin_hot_mov fl">正在热映<span> {{moviecount}} </span>部影片......</div>
                        {% else %}
                        <div class="cin_hot_mov fl">暂无热映影片</div>
                        {% endif %}
                        <div class="cinema_search fl">
                            <div class="cinema_search_input fl">
                                <input id="CinemaMessage_search_input" type="text" value="影片索引" />
                            </div>
                            <span id="CinemaMessage_Search_Btn" class="cinema_search_btn fl"><input type="button" value=" " /></span>
                        </div>
                    </div>
                    <div class="cin_bg_line" >
                        <div class="m_l_tit pr">
                            <span id="tb_sortByName" class="cin_name pa">影片<em id="tb_sortByName_em"></em></span>
                            <span id="tb_sort1" class="cin_time pa">时间<em id="tb_sort_em"></em></span>
                            <span id="tb_sort2" class="movie_total pa">票价<em id="tb_sort_em2"></em></span>
                            <span class="movie_hall pa">影厅</span>
                        </div>
                        <div class="hot_movie_list">
                            <ul id="movie_order" class="movie_order">
                                {% if filmsessions_today %}
                                {% for filmsession in filmsessions_today %}
                                <li class="hot_movie_info_li">
                                	<div class="movie_list_left fl">
                                        <span class="movie_title">《{{filmsession.movie_title}}》</span>
                                        <div class="movie_info">
                                        	<p>片长：<span>{{filmsession.movie.mins}}</span>语言：<span>{{filmsession.movie_language}}</span></p>
                                        </div>
                                    </div>
                                   	<div class="movie_list_right fl">
                                    	<span class="movie_time">{{filmsession.showtime}}</span>
                                    </div>
                                    <div class="movie_list_right_money fl">
                                        <span class="movie_money">{% if filmsession.price %}&yen;{{filmsession.price}}{% else %}&nbsp;{% endif %}</span>
                                        <em class="movie_site">{% if filmsession.hallnum %}{{filmsession.hallnum}}{% else %}&nbsp;{% endif %}</em>
                                   	</div>
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div id="page" class="page"></div>
                    </div>
                    <div class="up_shadow_bg2"></div>
                </div>
            </div>
            <div class="tab_content tab_content2" style="display:none;">
                <h3 class="tab_content_title">影院介绍</h3>
                <div class="tab_content_text">
                    {% if cinema.introduction %}
                        <p>{{cinema.introduction}}</p>
                    {% else %}
                        <div class="cin_hot_mov fl">暂无影院介绍</div>
                    {% endif %}
                </div>
                <div class="up_shadow_bg2"></div>
            </div>

            <div class="tab_content tab_content2" style="display:none;">
            	<h3 class="tab_content_title">特色服务</h3>
                {% if features.cinema_features %}
                    <ul class="service_list">
                        {% for cinema_feature in features.cinema_features %}
                            <li>{{cinema_feature.type}}：{{cinema_feature.content}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <span class="cin_hot_mov fl">暂无特色服务</span>
                {% endif %}
                <div class="up_shadow_bg2"></div>
            </div>
        </div>
    </div>
    <div class="main_right fr" style="padding-top:0;">
        {% if activitylist %}
        <div class="right_title">
            <p class="fl">全城共有<span class="right_title_text" >{{activitycount}}</span>个活动正在举行</p>
            <p class="activity_more fr"><a href="/lykweb/activity/list">更多</a></p>
        </div>
        <div class="activity_content">
            {% for activity in activitylist %}
            {% if forloop.counter <= 3 %}
            {% if activity.image_url %}
            <div class="activity pr">
                <p class="atv_P pa">活动<span class="activity_num pa">{{forloop.counter}}.</span></p>
                <div class="activity_title">
                    <span><a href="/lykweb/activity/info/{{activity.id}}">{{activity.title}}</a></span>
                </div>
                <div class="activity_pic fl">
                    <a href="/lykweb/activity/info/{{activity.id}}"><img src="{{activity.image_url}}" width="306" height="188" alt="" title="" /></a>
                </div>
                <div class="activity_text_total fl">
                    <p class="activity_text"><a href="/lykweb/activity/info/{{activity.id}}">{{activity.description}}</a></p>
                    <div class="activity_time">
                        <a href="/lykweb/activity/info/{{activity.id}}">
                            &nbsp;&nbsp;活动时间：<br/>
                            <span>{{activity.starttime}}至</span><br/>
                            <span>{{activity.endtime}}</span>
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="activity_NoPic pr">
                <p class="atv_P pa">活动<span class="activity_num pa">{{forloop.counter}}.</span></p>
                <div class="activity_title">
                    <span><a href="/lykweb/activity/info/{{activity.id}}">{{activity.title}}</a></span>
                </div>
                <p class="activity_NoPic_text">
                    <a href="/lykweb/activity/info/{{activity.id}}">{{activity.description}}</a>
                </p>
                <div class="activity_NoPic_time">
                    <a href="/lykweb/activity/info/{{activity.id}}">
                        活动时间：<br/>
                        <span>{{activity.starttime}}至{{activity.endtime}}</span>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<div class="mes_bottom">
    <div class="hot_movie fl">
        <div id="hot_movie_tle" class="hot_movie_tle pr">
            热门影片
            <span id="hot_movie_more_btn" class="pa"><a href="javascript:;">更多</a></span>
        </div>
        <ul>
            {% if hotlist %}
            {% for movie in hotlist %}
            {% if forloop.counter <= 4 %}
            <li><a href="/lykweb/movie/info/{{movie.id}}"><img src="{{movie.poster_image_url}}" width="146" height="202" alt="{{movie.title}}" title="{{movie.title}}" /></a></li>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>

        <ol>
            {% if hotlist %}
            {% for movie in hotlist %}
            {% if forloop.counter <= 4 %}
            <li><a href="/lykweb/movie/info/{{movie.id}}">《{{movie.title}}》</a></li>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ol>
    </div>

    <div class="hot_cinema fr">
        <div class="mes_atv_title">
            <p class="HotCinemaName fl">热门影院</p><p class="hot_cinema_more fr"><a href="/lykweb/cinema/list">更多</a></p>
        </div>
        <ul>
            {% if hotcinemas %}
            {% for cinema in hotcinemas %}
            <li><a href="/lykweb/cinema/info/{{cinema.id}}">{{forloop.counter}}.{{cinema.name}}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
        <div class="hot_cinema_shadow_bg"></div>
    </div>
</div>

<div id="hot_movie_Box">
    <div class="hot_movie_header pr">
        <div class="hot_movie_title">
            <div class="hot_movie_pic fl"><h1><img src="/static/web/images/hot_movie_logo.jpg" width="292" height="59" alt="" title="" /></h1></div>
            <div class="hot_movie_text fl">目前在<span>{{city_name}}</span>有<em>{{hotcount}}</em>部影片正在热映</div>
            <span id="close" class="hot_movie_delete pa"></span>
        </div>
        <div id="hot_movie_tab_title" class="hot_movie_tab_title">
            <ul>
                <li class="active">正在热映</li>
                <li>即将上映</li>
            </ul>
        </div>
    </div>
    <div class="pop_window_tab_box active">
        <div id="hot_movie_content" class="hot_movie_content pa">
            <div id="hot_movie_tab_box" class="hot_movie_tab_box">
                <ul>
                    {% if hotlist %}
                    {% for hotmovie in hotlist %}
                    <li><a href="/lykweb/movie/info/{{hotmovie.id}}">{% if hotmovie.score %}<em>{{hotmovie.score}}</em>{% endif %}<img src="{{hotmovie.poster_image_url}}" alt="" title="{{hotmovie.title}}" /><p class="HotMovieTitle">《{{hotmovie.title}}》</p><p class="HotMovieFieldNum">共{{hotmovie.sessionscount}}场</p></a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div id="define_scroll_bar_outer" class="define_scroll_bar_outer pr">
            <div id="define_scroll_bar" class="define_scroll_bar"></div>
        </div>
    </div>

    <div class="pop_window_tab_box">
        <div id="hot_movie_content2" class="hot_movie_content pa">
            <div id="hot_movie_tab_box2" class="hot_movie_tab_box">
                <ul>
                    {% if willlist %}
                    {% for willmovie in willlist %}
                    <li><a href="/lykweb/movie/info/{{willmovie.id}}">{% if willmovie.score %}<em>{{willmovie.score}}</em>{% endif %}<img src="{{willmovie.poster_image_url}}" alt="" title="{{willmovie.title}}" /><p class="HotMovieTitle">《{{willmovie.title}}》</p></a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div id="define_scroll_bar_outer2" class="define_scroll_bar_outer pr">
            <div id="define_scroll_bar2" class="define_scroll_bar"></div>
        </div>
    </div>
</div>
<div id="mark_bg" style="display:none"></div>

<!--<iframe src="/static/web/footer.html" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="100%" height="140" ></iframe>-->
{% include 'footer.html' %}

<script src="/static/web/js/base.js" type="text/javascript"></script>
<script src="/static/web/js/cinema.js" type="text/javascript"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
</body>
</html>
