<div class="footer_ad">
    <ol>
    	<li><a href="/lykweb/cinema/list"><img src="/static/web/images/seat_icon.gif" width="37" height="37" alt="" title="" /><span>{{city_name}}{{cinemacount}}家影院</span></a><div class="line2 fr"></div></li>
        <li><a href="/lykweb/client/download"><img src="/static/web/images/loading_icon.gif" width="41" height="37" alt="" title="" /><span>客户端下载</span></a></li>
    </ol>
</div>

<div class="footer">
	<div class="bottom">
    	<h1 class="fl"><img src="/static/web/images/logo_text.png" width="177" height="24" alt="爱生活，爱电影" title="爱生活，爱电影" /></h1>
        <p class="fl">
            Copyright © 2004-2012 乐影客（leyingke.com）All rights reserved.<br/>
            津ICP备12008630号
        </p>
    </div>
</div>