<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="乐影客" />
<meta http-equiv="description" content="乐影客" />
<title>乐影客—电影周边</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/css_game.css" rel="stylesheet" type="text/css" />
</head>

<body>
<iframe src="header.html" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="100%" height="130" ></iframe>

<div class="movie_game">
	<ul>
    	<li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        <li>
        	<div class="movie_game_pic"><img src="images/movie_game_img1.jpg" width="218" height="148" title="" alt="" /></div>
            <div class="movie_game_text">
            	<p class="movie_game_text_name pr">光晕游戏<a href="#" class="pa">下载</a></p>
                <p>闯过中极关卡赢2张电影票</p>
            </div>
        </li>
        
    </ul>
</div>

<iframe src="footer.html" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="100%" height="160" ></iframe>
</body>
</html>
