<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="乐影客" />
<meta http-equiv="description" content="乐影客" />
<title>更多影片</title>
<link href="css/css_movie_more.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="hot_movie_Box">
	<div class="hot_movie_title pr">
    	<div class="hot_movie_pic fl"><h1><img src="images/hot_movie_logo.jpg" width="292" height="59" alt="" title="" /></h1></div>
        <div class="hot_movie_text fl">目前在<span>北京</span>有<em>48</em>部影片正在热映</div>
        <span class="hot_movie_delete pa"></span>
    </div>
    <div class="hot_movie_content">
    	<div class="hot_movie_tab_title">
        	<ul>
            	<li class="active">正在热映</li>
                <li>即将热映</li>
            </ul>
        </div>
        <div class="hot_movie_tab_box" style="display:block">
        	<ul>
            	<li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
                <li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
                <li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
                <li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
                <li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
                <li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
                <li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
                <li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
                <li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
                <li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
                <li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
                <li><img src="images/hot_movie_img1.jpg" width="168" height="216" alt="" title="" /><p>《飓风营救2》</p></li>
            </ul>
        </div>
    </div>
</div>


<script src="js/base.js" type="text/javascript"></script>
<script src="js/MovieMore.js" type="text/javascript"></script>
</body>
</html>
