<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="乐影客" />
<meta http-equiv="description" content="乐影客" />
<title>影院列表</title>
<link href="/static/web/css/css.css" rel="stylesheet" type="text/css" />
<link href="/static/web/css/css_list.css" rel="stylesheet" type="text/css" />
</head>

<body>
<iframe src="/lykweb/header" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="100%" height="110" ></iframe>

<div class="movie_list_main">
    <div id="" class="movie_list_left fl">
    	<div class="total">
            全城共<span class="total_text">&nbsp;20&nbsp;</span>家影院共<span class="total_text">&nbsp;380&nbsp;</span>场
        </div>
        <div class="movie_list_left_title pr">
        	<div class="movie_list_search">
            	<div class="list_search_input fl">
                	<input type="text" value="快速搜索"  />
                </div>
                <span class="cinema_search_btn fl"></span>
                <div class="cinema_search_checked fl">
                	<em></em><span>免费停车</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <em></em><span>巨幕</span>
                </div>
            </div>
            <div class="m_l_tit pr">
            	<span class="cin_name pa">影院</span>
                <span class="cin_num pa">影厅</span>
                <span class="movie_total pa">影片</span>
                <span class="session_num pa">场次</span>
                <div class="cin_location_div pa">
                	<span class="cin_location pa">朝阳</span>
                    <em class="pa"></em>
                </div>
            </div>
        </div>
       
        <div class="tab_box">
            <ul class="movie_list_left_ul">
                <li class="movie_list_left_li"> 
                    <div class="movie_ticket_list_box pr" style="display:block">
                        <div class="movie_list_left_name fl">金逸北京新中关店</div>                                                                         
                        <div class="movie_list_left_num1 fl">7个厅</div>                                            
                        <div class="movie_list_left_num2 fl">22部</div>                                        
                        <div class="movie_list_left_num3 fl">55场</div>
                        <div class="movie_list_left_addr fr">朝阳区</div>
                        <span class="movie_list_gifts pa">赠品</span>
                        <span class="movie_list_addr pa">地址</span>
                        <span class="movie_list_IMAX pa">IMAX</span>
                        <em class="parking_space pa"></em>
                        <em class="booking_ticket pa"></em>                                  
                    </div> 
                    <div class="movie_list_left_onclick" style="display:block">       
                       <p>  飓风营救2&nbsp;&nbsp;&nbsp;&nbsp;大海啸之鲨口逃生&nbsp;&nbsp;&nbsp;&nbsp;安娜·卡列尼娜&nbsp;&nbsp;&nbsp;&nbsp;环形使者<br/>浮城谜事&nbsp;&nbsp;&nbsp;&nbsp;二次曝光&nbsp;&nbsp;&nbsp;&nbsp;白昼冷光&nbsp;&nbsp;&nbsp;&nbsp;叛谍追击&nbsp;&nbsp;&nbsp;&nbsp;太极1从零开始 </p>   
                    </div>     
                </li>
                <li class="movie_list_left_li"> 
                    <div class="movie_ticket_list_box pr" style="display:block">
                        <div class="movie_list_left_name fl">金逸北京新中关店</div>                                                                         
                        <div class="movie_list_left_num1 fl">7个厅</div>                                            
                        <div class="movie_list_left_num2 fl">22部</div>                                        
                        <div class="movie_list_left_num3 fl">55场</div>
                        <div class="movie_list_left_addr fr">朝阳区</div>
                        <span class="movie_list_gifts pa">赠品</span>
                        <span class="movie_list_addr pa">地址</span>
                        <span class="movie_list_IMAX pa">IMAX</span>
                        <em class="parking_space pa"></em>
                        <em class="booking_ticket pa"></em>                                  
                    </div> 
                    <div class="movie_list_left_onclick" style="display:none">       
                       <p>  飓风营救2&nbsp;&nbsp;&nbsp;&nbsp;大海啸之鲨口逃生&nbsp;&nbsp;&nbsp;&nbsp;安娜·卡列尼娜&nbsp;&nbsp;&nbsp;&nbsp;环形使者<br/>浮城谜事&nbsp;&nbsp;&nbsp;&nbsp;二次曝光&nbsp;&nbsp;&nbsp;&nbsp;白昼冷光&nbsp;&nbsp;&nbsp;&nbsp;叛谍追击&nbsp;&nbsp;&nbsp;&nbsp;太极1从零开始 </p>   
                    </div>     
                </li>
                <li class="movie_list_left_li"> 
                    <div class="movie_ticket_list_box pr" style="display:block">
                        <div class="movie_list_left_name fl">金逸北京新中关店</div>                                                                         
                        <div class="movie_list_left_num1 fl">7个厅</div>                                            
                        <div class="movie_list_left_num2 fl">22部</div>                                        
                        <div class="movie_list_left_num3 fl">55场</div>
                        <div class="movie_list_left_addr fr">朝阳区</div>
                        <span class="movie_list_gifts pa">赠品</span>
                        <span class="movie_list_addr pa">地址</span>
                        <span class="movie_list_IMAX pa">IMAX</span>
                        <em class="parking_space pa"></em>
                        <em class="booking_ticket pa"></em>                                  
                    </div> 
                    <div class="movie_list_left_onclick" style="display:none">       
                       <p>  飓风营救2&nbsp;&nbsp;&nbsp;&nbsp;大海啸之鲨口逃生&nbsp;&nbsp;&nbsp;&nbsp;安娜·卡列尼娜&nbsp;&nbsp;&nbsp;&nbsp;环形使者<br/>浮城谜事&nbsp;&nbsp;&nbsp;&nbsp;二次曝光&nbsp;&nbsp;&nbsp;&nbsp;白昼冷光&nbsp;&nbsp;&nbsp;&nbsp;叛谍追击&nbsp;&nbsp;&nbsp;&nbsp;太极1从零开始 </p>   
                    </div>     
                </li>
                <li class="movie_list_left_li"> 
                    <div class="movie_ticket_list_box pr" style="display:block">
                        <div class="movie_list_left_name fl">金逸北京新中关店</div>                                                                         
                        <div class="movie_list_left_num1 fl">7个厅</div>                                            
                        <div class="movie_list_left_num2 fl">22部</div>                                        
                        <div class="movie_list_left_num3 fl">55场</div>
                        <div class="movie_list_left_addr fr">朝阳区</div>
                        <span class="movie_list_gifts pa">赠品</span>
                        <span class="movie_list_addr pa">地址</span>
                        <span class="movie_list_IMAX pa">IMAX</span>
                        <em class="parking_space pa"></em>
                        <em class="booking_ticket pa"></em>                                  
                    </div> 
                    <div class="movie_list_left_onclick" style="display:none">       
                       <p>  飓风营救2&nbsp;&nbsp;&nbsp;&nbsp;大海啸之鲨口逃生&nbsp;&nbsp;&nbsp;&nbsp;安娜·卡列尼娜&nbsp;&nbsp;&nbsp;&nbsp;环形使者<br/>浮城谜事&nbsp;&nbsp;&nbsp;&nbsp;二次曝光&nbsp;&nbsp;&nbsp;&nbsp;白昼冷光&nbsp;&nbsp;&nbsp;&nbsp;叛谍追击&nbsp;&nbsp;&nbsp;&nbsp;太极1从零开始 </p>   
                    </div>     
                </li>
                <li class="movie_list_left_li"> 
                    <div class="movie_ticket_list_box pr" style="display:block">
                        <div class="movie_list_left_name fl">金逸北京新中关店</div>                                                                         
                        <div class="movie_list_left_num1 fl">7个厅</div>                                            
                        <div class="movie_list_left_num2 fl">22部</div>                                        
                        <div class="movie_list_left_num3 fl">55场</div>
                        <div class="movie_list_left_addr fr">朝阳区</div>
                        <span class="movie_list_gifts pa">赠品</span>
                        <span class="movie_list_addr pa">地址</span>
                        <span class="movie_list_IMAX pa">IMAX</span>
                        <em class="parking_space pa"></em>
                        <em class="booking_ticket pa"></em>                                  
                    </div> 
                    <div class="movie_list_left_onclick" style="display:none">       
                       <p>  飓风营救2&nbsp;&nbsp;&nbsp;&nbsp;大海啸之鲨口逃生&nbsp;&nbsp;&nbsp;&nbsp;安娜·卡列尼娜&nbsp;&nbsp;&nbsp;&nbsp;环形使者<br/>浮城谜事&nbsp;&nbsp;&nbsp;&nbsp;二次曝光&nbsp;&nbsp;&nbsp;&nbsp;白昼冷光&nbsp;&nbsp;&nbsp;&nbsp;叛谍追击&nbsp;&nbsp;&nbsp;&nbsp;太极1从零开始 </p>   
                    </div>     
                </li>
                <li class="movie_list_left_li"> 
                    <div class="movie_ticket_list_box pr" style="display:block">
                        <div class="movie_list_left_name fl">金逸北京新中关店</div>                                                                         
                        <div class="movie_list_left_num1 fl">7个厅</div>                                            
                        <div class="movie_list_left_num2 fl">22部</div>                                        
                        <div class="movie_list_left_num3 fl">55场</div>
                        <div class="movie_list_left_addr fr">朝阳区</div>
                        <span class="movie_list_gifts pa">赠品</span>
                        <span class="movie_list_addr pa">地址</span>
                        <span class="movie_list_IMAX pa">IMAX</span>
                        <em class="parking_space pa"></em>
                        <em class="booking_ticket pa"></em>                                  
                    </div> 
                    <div class="movie_list_left_onclick" style="display:none">       
                       <p>  飓风营救2&nbsp;&nbsp;&nbsp;&nbsp;大海啸之鲨口逃生&nbsp;&nbsp;&nbsp;&nbsp;安娜·卡列尼娜&nbsp;&nbsp;&nbsp;&nbsp;环形使者<br/>浮城谜事&nbsp;&nbsp;&nbsp;&nbsp;二次曝光&nbsp;&nbsp;&nbsp;&nbsp;白昼冷光&nbsp;&nbsp;&nbsp;&nbsp;叛谍追击&nbsp;&nbsp;&nbsp;&nbsp;太极1从零开始 </p>   
                    </div>     
                </li>
                <li class="movie_list_left_li"> 
                    <div class="movie_ticket_list_box pr" style="display:block">
                        <div class="movie_list_left_name fl">金逸北京新中关店</div>                                                                         
                        <div class="movie_list_left_num1 fl">7个厅</div>                                            
                        <div class="movie_list_left_num2 fl">22部</div>                                        
                        <div class="movie_list_left_num3 fl">55场</div>
                        <div class="movie_list_left_addr fr">朝阳区</div>
                        <span class="movie_list_gifts pa">赠品</span>
                        <span class="movie_list_addr pa">地址</span>
                        <span class="movie_list_IMAX pa">IMAX</span>
                        <em class="parking_space pa"></em>
                        <em class="booking_ticket pa"></em>                                  
                    </div> 
                    <div class="movie_list_left_onclick" style="display:none">       
                       <p>  飓风营救2&nbsp;&nbsp;&nbsp;&nbsp;大海啸之鲨口逃生&nbsp;&nbsp;&nbsp;&nbsp;安娜·卡列尼娜&nbsp;&nbsp;&nbsp;&nbsp;环形使者<br/>浮城谜事&nbsp;&nbsp;&nbsp;&nbsp;二次曝光&nbsp;&nbsp;&nbsp;&nbsp;白昼冷光&nbsp;&nbsp;&nbsp;&nbsp;叛谍追击&nbsp;&nbsp;&nbsp;&nbsp;太极1从零开始 </p>   
                    </div>     
                </li>
                <li class="movie_list_left_li"> 
                    <div class="movie_ticket_list_box pr" style="display:block">
                        <div class="movie_list_left_name fl">金逸北京新中关店</div>                                                                         
                        <div class="movie_list_left_num1 fl">7个厅</div>                                            
                        <div class="movie_list_left_num2 fl">22部</div>                                        
                        <div class="movie_list_left_num3 fl">55场</div>
                        <div class="movie_list_left_addr fr">朝阳区</div>
                        <span class="movie_list_gifts pa">赠品</span>
                        <span class="movie_list_addr pa">地址</span>
                        <span class="movie_list_IMAX pa">IMAX</span>
                        <em class="parking_space pa"></em>
                        <em class="booking_ticket pa"></em>                                  
                    </div> 
                    <div class="movie_list_left_onclick" style="display:none">       
                       <p>  飓风营救2&nbsp;&nbsp;&nbsp;&nbsp;大海啸之鲨口逃生&nbsp;&nbsp;&nbsp;&nbsp;安娜·卡列尼娜&nbsp;&nbsp;&nbsp;&nbsp;环形使者<br/>浮城谜事&nbsp;&nbsp;&nbsp;&nbsp;二次曝光&nbsp;&nbsp;&nbsp;&nbsp;白昼冷光&nbsp;&nbsp;&nbsp;&nbsp;叛谍追击&nbsp;&nbsp;&nbsp;&nbsp;太极1从零开始 </p>   
                    </div>     
                </li>
                <li class="movie_list_left_li"> 
                    <div class="movie_ticket_list_box pr" style="display:block">
                        <div class="movie_list_left_name fl">金逸北京新中关店</div>                                                                         
                        <div class="movie_list_left_num1 fl">7个厅</div>                                            
                        <div class="movie_list_left_num2 fl">22部</div>                                        
                        <div class="movie_list_left_num3 fl">55场</div>
                        <div class="movie_list_left_addr fr">朝阳区</div>
                        <span class="movie_list_gifts pa">赠品</span>
                        <span class="movie_list_addr pa">地址</span>
                        <span class="movie_list_IMAX pa">IMAX</span>
                        <em class="parking_space pa"></em>
                        <em class="booking_ticket pa"></em>                                  
                    </div> 
                    <div class="movie_list_left_onclick" style="display:none">       
                       <p>  飓风营救2&nbsp;&nbsp;&nbsp;&nbsp;大海啸之鲨口逃生&nbsp;&nbsp;&nbsp;&nbsp;安娜·卡列尼娜&nbsp;&nbsp;&nbsp;&nbsp;环形使者<br/>浮城谜事&nbsp;&nbsp;&nbsp;&nbsp;二次曝光&nbsp;&nbsp;&nbsp;&nbsp;白昼冷光&nbsp;&nbsp;&nbsp;&nbsp;叛谍追击&nbsp;&nbsp;&nbsp;&nbsp;太极1从零开始 </p>   
                    </div>     
                </li>
                <li class="movie_list_left_li"> 
                    <div class="movie_ticket_list_box pr" style="display:block">
                        <div class="movie_list_left_name fl">金逸北京新中关店</div>                                                                         
                        <div class="movie_list_left_num1 fl">7个厅</div>                                            
                        <div class="movie_list_left_num2 fl">22部</div>                                        
                        <div class="movie_list_left_num3 fl">55场</div>
                        <div class="movie_list_left_addr fr">朝阳区</div>
                        <span class="movie_list_gifts pa">赠品</span>
                        <span class="movie_list_addr pa">地址</span>
                        <span class="movie_list_IMAX pa">IMAX</span>
                        <em class="parking_space pa"></em>
                        <em class="booking_ticket pa"></em>                                  
                    </div> 
                    <div class="movie_list_left_onclick" style="display:none">       
                       <p>  飓风营救2&nbsp;&nbsp;&nbsp;&nbsp;大海啸之鲨口逃生&nbsp;&nbsp;&nbsp;&nbsp;安娜·卡列尼娜&nbsp;&nbsp;&nbsp;&nbsp;环形使者<br/>浮城谜事&nbsp;&nbsp;&nbsp;&nbsp;二次曝光&nbsp;&nbsp;&nbsp;&nbsp;白昼冷光&nbsp;&nbsp;&nbsp;&nbsp;叛谍追击&nbsp;&nbsp;&nbsp;&nbsp;太极1从零开始 </p>   
                    </div>     
                </li>
            </ul>
        </div>
        
        
        <div class="page">
        	<span class="pre">< 前页</span>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <samp>......</samp>
            <a href="#">10</a>
            <span class="next"><a href="#" >后页 ></a></span>                       
        </div>
        
    </div>
    
    <div class="movie_list_right fr">
    	<div class="right_title">
        	<span class="activity_more fr"><a href="#">更多</a></span>全城共有<span class="right_title_text" >25</span>个活动正在举行
      	</div>
   	  
        <div class="activity pr">
          <span class="activity_num pa">1.</span>
            <div class="activity_time pa">
                开始时间：<span>2012-10-8 14:25:00</span><br/>
                结束时间：<span>2012-10-22 14:25:00</span>
            </div>
            <div class="activity_title pa">
                <span>《二次曝光》免费观影报名</span>
          	</div>
            <div class="activity_pic pa">
                <img src="/static/web/images/hd_1.jpg" width="298" height="111" alt="" title="" /> 
          	</div>
            <p class="activity_text pa">
                观影后两天内，需在时光网《二次曝光》资料页为其打分、添加观影方式和电影标签，并在时光微评发布一条观影感受；凡参加活动后在规定时间不发布者，将自动失去下次免费观影机会。
            </p>
        </div>
        
        <div class="activity pr">
        	<span class="activity_num pa">2.</span>
        	<div class="activity_time pa">
            	开始时间：<span>2012-10-8 14:25:00</span><br/>
            	结束时间：<span>2012-10-22 14:25:00</span>
            </div>
            <div class="activity_title pa">
            	<span>#向李玉提问#赢珍藏好礼</span>
            </div>
            <div class="activity_pic pa">
    	    	<img src="/static/web/images/hd_2.jpg" width="151" height="191" alt="" title="" />
            </div>
      		<p class="activity_text2 pa">
       	    	你是从哪部电影开始认识导演李玉的？如果给你一个与她近距离接触的机会，你有什么问题想要问她？  曝光你的内心，向李玉提问，赢取李玉签名《二次曝光》电影珍藏画报！
          	</p>
      	</div>
        
        <div class="activity pr">
        	<span class="activity_num pa">3.</span>
        	<div class="activity_time pa">
            	开始时间：<span>2012-10-8 14:25:00</span><br/>
            	结束时间：<span>2012-10-22 14:25:00</span>
            </div>
      		<div class="activity_title2 pa">
            	<span>#曝光青春#赢取《二次曝光》珍藏礼</span>
            </div>
            <div class="activity_pic pa">
   	    	  <img src="/static/web/images/hd_3.jpg" width="151" height="191" alt="" title="" /> 
          	</div>
          	<p class="activity_text2 pa">
       	    	你的青春什么样？男朋友、女朋友，哪一位更值得留给未来去怀念？
曝光你的青春回忆，赢取《二次曝光》环保提包，最动情的2位还有机会得到范冰冰、冯绍峰签名珍藏大海报！
       	  	</p>
      	</div>
       
    </div>
</div>

<div class="mes_bottom">
	<div class="hot_movie fl">
        <div class="hot_movie_tle pr">
          热门影片
          <span class="pa"><a href="#" target="_blank">看看其他影片</a></span>
        </div>
        <ul>
        	<li><img src="/static/web/images/hot_mov_img3.jpg" width="146" height="202" alt="" title="" /></li>
            <li><img src="/static/web/images/hot_mov_img2.jpg" width="146" height="202" alt="" title="" /></li>
            <li><img src="/static/web/images/hot_mov_img1.jpg" width="146" height="202" alt="" title="" /></li>
            <li><img src="/static/web/images/hot_mov_img4.jpg" width="146" height="202" alt="" title="" /></li>
        </ul>
        
        <ol>
            <li>《安娜·卡列尼娜》</li>
            <li>《大海啸之鲨口逃生》</li>
            <li>《飓风营救2》</li>
            <li>《2次曝光》</li>
        </ol>
    </div>
    
    <div class="hot_cinema fl">
        <div class="mes_atv_title">
            <span class="activity_more fr"><a href="#">更多</a></span>热门影院
        </div>
        <ul>
            <li><a href="#" target="_blank">1.耀莱成龙国际影城</a></li>
            <li><a href="#" target="_blank">2.万达国际影城（CBD店）</a></li>
            <li><a href="#" target="_blank">3.首都华融电影院</a></li>
            <li><a href="#" target="_blank">4.UME国际影城双井店</a></li>
            <li><a href="#" target="_blank">5.美嘉欢乐影城（三里屯店）</a></li>
            <li><a href="#" target="_blank">6.金逸北京新中关店</a></li>
            <li><a href="#" target="_blank">7.海航活力天宝国际影城</a></li>
        </ul>
    </div>
</div>
<iframe src="/static/web/footer.html" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="100%" height="160" ></iframe>

</body>
</html>
