<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="乐影客" />
<meta http-equiv="description" content="乐影客" />
<title>选座-在线支付</title>
<link href="/static/web/css/css.css" rel="stylesheet" type="text/css" />
<link href="/static/web/css/css_order.css" rel="stylesheet" type="text/css" />
</head>

<body>
<iframe src="/lykweb/header" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="100%" ></iframe>

<div class="order_online_pay_num">
	<div class="order_confirmation_tle">
    	<ul>
        	<li class="confirmation1"></li>
            <li class="confirmation2"></li>
            <li class="confirmation3"></li>
            <li class="confirmation4_active"></li>
        </ul>
    </div>
    <div class="order_mov pr">
    	<p class="ticket_from_span pa">以下票务信息来自E票网     <a href="http://www.epiaowang.com" target="_blank">www.epiaowang.com</a>    客服电话：010-88108888</p>
        <p class="order_atv_num3 pr">订单号<span>20121101185323</span></p>
        <p class="pay_total pa" style="left:780px; top:30px;">总价：<span>￥140元</span></p>
    </div>
</div>

<div class="order_online_pay">
	<div class="online_pay_tle">在线支付</div>
    <div class="online_pay_con">
    	<ul>
        	<li><input type="radio" value="1" name="bank" /><img src="/static/web/images/bank_icbc.png" width="103" height="27" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_ccb.png" width="103" height="27" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_abc.png" width="103" height="27" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_bc.png" width="103" height="27" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_merchants.png" width="103" height="27" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_bh.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_bj.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_bjns.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_ctb.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_gd.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_gdfz.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_hs.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_hx.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_hz.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_js.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_ms.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_nb.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_nj.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_pa.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_pf.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_post.png" width="103" height="28" alt="" /></li>
        	<li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_sf.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_sh.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_xy.png" width="103" height="28" alt="" /></li>
            <li><input type="radio" value="0" name="bank" /><img src="/static/web/images/bank_zx.png" width="103" height="28" alt="" /></li>

        </ul>
	</div>
    <div class="online_pay_tle">其他支付平台</div>
    <div class="ather_pay">
    	<div class="ather_pay_con">
        	<ul>
            	<li><input type="radio" value="1" name="ather_bank" /><img src="/static/web/images/zfb.png" width="113" height="28" alt="" /></li>
            	<li><input type="radio" value="0" name="ather_bank" /><img src="/static/web/images/kq.png" width="103" height="28" alt="" /></li>
            </ul>
        </div>
    </div>
    <div class="online_pay_btn_outer pr">
        <div class="online_pay_btn pa">
            <input type="button" value="马上付款"/>
        </div>
    </div>
</div>

<iframe src="/static/web/footer.html" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="100%" height="140" ></iframe>
</body>
</html>
