<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="乐影客" />
<meta http-equiv="description" content="乐影客" />
<title>选座-订单确认</title>
<link href="/static/web/css/css.css" rel="stylesheet" type="text/css" />
<link href="/static/web/css/css_order.css" rel="stylesheet" type="text/css" />
</head>

<body>
<iframe src="/lykweb/header" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="100%" ></iframe>

<div class="order_confirmation">
	<div class="order_confirmation_tle">
    	<ul>
        	<li class="confirmation1"></li>
            <li class="confirmation2_active"></li>
            <li class="confirmation3"></li>
            <li class="confirmation4"></li>
        </ul>
    </div>
    <div class="order_mov">
        <div class="order_mov_mes pr">
            <div class="order_mov_mes_pic fl">
                <p>《飓风营救2》</p>
                <div><img src="/static/web/images/order_img1.jpg" width="300" height="190" alt="" title="" /></div>
            </div>
            <div class="order_mov_mes_name fl">
            	<p class="order_atv_num pa">订单号：<span>20121101185323</span><strong class="pa">购买成功！</strong></p>
            	<div class="order_checked_seat_div">
                    <p class="order_mov_mes_name_p pr">金逸国际影城 （中关村店）&nbsp;<span>详细地址</span><em class="no_pay_icon_active pa"></em></p>
                    <ul>
                        <li class="mov_play_time">2012年10月8日<span>12:45</span></li>
                        <li class="mov_play_money">票价：&yen;35元</li>
                        <li class="mov_play_date"></li>
                        <li class="mov_play_num">数量：4</li>
                        <li class="mov_play_type">3号厅  4排5座  6排6座  6排7座  6排8座 </li>
                        <li class="mov_play_tol_money">总价：&yen;35*4=&yen;140元</li> 
                    </ul>
                </div>
            </div>
            <p class="ticket_from_span pa">以下票务信息来自E票网     <a href="http://www.epiaowang.com" target="_blank">www.epiaowang.com</a>    客服电话：010-88108888</p>
        </div>
        <div class="order_mov_atv">
        	<p class="order_atv_tit"></p>
            <ul>
            	<li>1.即日起至2012年12月31日，金逸国际影城（中关村）店消费影票50元即可领取大可乐一份，马上购票吧！</li>
                <li>2.凭《飓风营救2》影票或者票根2张，即可免费领取英雄方巾、纹身贴、队旗等热门礼品，查询派送影院。</li>
                <li>3.即日起至2012年12月31日，金逸国际影城（中关村）店消费影票50元即可领取大可乐一份，马上购票吧！</li>
            </ul>
        </div>
    </div>
</div>

<div class="order_pay">
	<div class="order_pay_information fl">
    	<p class="pay_information">接收兑换码手机号：<span>13910001234</span></p>
        <p class="pay_information">系统为您保留座位：<span>14分45秒</span></p>
        <p class="information_warn">超时将自动取消订单，请尽快支付</p>
    </div>
    <div class="order_pay_btn fl">
    	<p class="pay_total">总价：<span>￥140元</span></p>
    	<p class="pay_btn"><a href="/static/web/orders3.html">马上付款</a></p>
    	<span class="pay_warn">*电影票一经出售，概不退换</span>
    </div>
</div>

<iframe src="/static/web/footer.html" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="100%" height="140" ></iframe>
</body>
</html>
