<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="乐影客" />
<meta http-equiv="description" content="乐影客" />
<title>乐影客</title>
<link href="/static/web/css/css.css" rel="stylesheet" type="text/css" />
<link href="/static/web/css/css_user_center_atv.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script src="/static/web/js/DD_belatedPNG_0.0.8a.js"></script>
<script>DD_belatedPNG.fix('*'); </script>
<![endif]-->
</head>

<body>
<!--<iframe src="header.html" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" height="82" width="100%" ></iframe>-->
{% include 'header.html' %}
<div id="user_center">
    <div class="left_title pr fl">
        <div class="bar pa">&nbsp;</div>
        <ul>
            <li><img src="/static/web/images/user_center_left1.gif" width="83" height="82" /></li>
            <li><img src="/static/web/images/user_center_left1.gif" width="83" height="82" /></li>
            <li><img src="/static/web/images/user_center_left1.gif" width="83" height="82" /></li>
            <li><img src="/static/web/images/user_center_left1.gif" width="83" height="82" /></li>
            <li><img src="/static/web/images/user_center_left1.gif" width="83" height="82" /></li>
        </ul>
    </div>
    
    <div class="right_box_outer fl">
    	<div class="right_box" style="display:block;">
        	<div class="user_center_right_title">
            	<p class="fl">已参加<span>12</span>场次活动，加油哦！</p>
                <div class="user_center_search fl">
                	<input class="fl" type="text" value="快速搜索" />
                    <span class="user_center_search_btn fl"></span>
                </div>
            </div>
        	<div class="user_center_right_content">
            	<ul>
                	<li>
                    	<div class="user_center_right_content_pic fl">
                   	    	<img src="/static/web/images/user_center_right_img1.jpg" width="122" height="154" alt="" title="" /></div>
                        <div class="user_center_right_content_text pr fl">
                        	<p class="text_p1 pr"><strong>#向李玉提问#赢珍藏好礼</strong><span>进行中</span><em class="pa">兑换码</em></p>
                            <p class="text_p2">你是从哪部电影开始认识导演李玉的？如果给你一个与她近距离接触的机会，你有什么问题想要问她？</p>
                            <p class="text_p3">曝光你的内心，向李玉提问，赢取李玉签名《二次曝光》电影珍藏画报！</p>
                            <span class="user_center_time pa">2012年10月8日-2012.10.28</span>
                          	<div class="user_center_code pa" style="display:block;">
                                <p class="code_p">兑换码：<span>2398274382799978374</span></p>
                                <p>二维码：<span><img src="/static/web/images/user_center_code.jpg" width="65" height="65" align="middle" alt="" title="" /></span></p>
                            </div>
                        </div>
                    </li>
                    <li>
                    	<div class="user_center_right_content_pic fl">
                   	    	<img src="/static/web/images/user_center_right_img2.jpg" width="122" height="154" alt="" title="" /></div>
                        <div class="user_center_right_content_text pr fl">
                        	<p class="text_p1 pr"><strong>#曝光青春#赢取《二次曝光》珍藏礼</strong><span>即将开始</span><em class="pa">兑换码</em></p>
                            <p class="text_p2">你是从哪部电影开始认识导演李玉的？如果给你一个与她近距离接触的机会，你有什么问题想要问她？</p>
                            <p class="text_p3">曝光你的内心，向李玉提问，赢取李玉签名《二次曝光》电影珍藏画报！</p>
                            <span class="user_center_time pa">2012年10月8日-2012.10.28</span>
                          	<div class="user_center_code pa" style="display:none;">
                                <p class="code_p">兑换码：<span>2398274382799978374</span></p>
                                <p>二维码：<span><img src="/static/web/images/user_center_code.jpg" width="65" height="65" align="middle" alt="" title="" /></span></p>
                            </div>
                        </div>
                    </li>
                    <li>
                    	<div class="user_center_right_content_pic fl">
                   	    	<img src="/static/web/images/user_center_right_img3.jpg" width="122" height="154" alt="" title="" /></div>
                        <div class="user_center_right_content_text pr fl">
                        	<p class="text_p1 pr"><strong>#曝光青春#赢取《二次曝光》珍藏礼</strong><span>已结束</span><em class="pa">兑换码</em></p>
                            <p class="text_p2">你是从哪部电影开始认识导演李玉的？如果给你一个与她近距离接触的机会，你有什么问题想要问她？</p>
                            <p class="text_p3">曝光你的内心，向李玉提问，赢取李玉签名《二次曝光》电影珍藏画报！</p>
                            <span class="user_center_time pa">2012年10月8日-2012.10.28</span>
                          	<div class="user_center_code pa" style="display:none;">
                                <p class="code_p">兑换码：<span>2398274382799978374</span></p>
                                <p>二维码：<span><img src="/static/web/images/user_center_code.jpg" width="65" height="65" align="middle" alt="" title="" /></span></p>
                            </div>
                        </div>
                    </li>
                    <li>
                    	<div class="user_center_booking">
                        	<p class="pr">订单号：<strong>20121101185323</strong><span>下单时间：2012年11月1日  19:43:20</span><em class="pa">交易成功</em></p>
                        </div>
                        <div class="user_center_booking_message">
                        	<p class="booking_message_p1">《超越那一天真人现场秀》</p>
                            <p class="booking_message_p2"><span>金逸国际影城 （中关村店）</span><em>详细地址</em></p>
                            <p class="booking_message_p3"><span>2012年10月8日</span><em>12:45</em></p>
                            <p class="booking_message_p4">3号厅  4排5座  6排6座  6排7座  6排8座</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>

<iframe src="/static/web/footer.html" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" framespacing="0" frameborder="0" scrolling="no" width="100%" height="160" ></iframe>
</body>
</html>
