{% extends "themes/simple/base.html" %}
{%load pagination %}

{% block content %}

	{% if entries %}
	{%begin_pagination entries page %}
	{%if archtype == 'calendar'%}
		<div class="pagetitle">archive for the {{year}}-{{month}}-{{day}} </div>
	{%endif%}
	{%if archtype == 'category'%}
		<div class="pagetitle">archive for the {{category.name|escape}} </div>
	{%endif%}
	{%if archtype == 'archive'%}
		<div class="pagetitle">archive for the {{year}}-{{month}} </div>
	{%endif%}
	{%if archtype == 'tag'%}
		<div class="pagetitle">archive for the {{tag|escape}} </div>
	{%endif%}
	
		{% for entry in entries %}
		<article class="post">
			<h2><a href="/{{ entry.link|escape }}" rel="bookmark">{{entry.title|escape}}</a></h2>
			<div class="pmeta">{{entry.date|date:"y/m/d h:i"}} <span>&middot;</span> posted in {{entry.category.name}}</div>
			<div class="entry">
				<p>{{entry.excerpt_content|safe}}</p>
			</div>
			<div class="ptags"><span class="comments"><a href="/{{entry.get_absolute_url|escape}}#comments">{{entry.comments.count}} comments</a></span> 
			tags:
				{% for tag in entry.get_tags %}
					{% if forloop.last %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>. 
					{% else %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>, 
					{% endif %}
				{% endfor %}</div>
		</article>
	{%endfor%}
	{%end_pagination%}

	{%else%}

		<h2>not found</h2>
		<p>sorry, but you are looking for something that isn't here.</p>

	{%endif%}

{%endblock%}