@charset "utf-8";
/*==========================主体上部 电影概况==========================*/
.main_message{ background:url(../images/hot_bg.png) repeat-x; width:1024px; height:319px; margin:0 auto; padding-bottom:38px;}
.hot_mes_left{ width:362px; padding:22px 22px 0 22px; }
.mes_mov_tle{ font-size:26px; color:#000;}
.mes_total{ width:364px; height:26px; padding:10px 0 5px 0;  font-size:22px; color:#a63f1e; }
.mes_num{font-family:"Comic Sans MS"; line-height:22px; left:300px; top:10px; }
.mes_point{ font-family:"宋体"; font-weight:bold; font-size:18px; left:330px; top:16px; }
.btn_book{ height:38px; padding:16px 0 0 0; font-size:16px; }
.btn_book a{background:#62564c; padding:8px 30px 8px 30px;color:#FFF;}
.btn_book a:link,a:visited{font-size:16px; color:#fff; }

/*==========================主体中部左侧 影片介绍==========================*/
/*.main_message2{width:1024px; height:880px; margin:0 auto;  }
.hot_mes_right{ width:604px; padding-top:50px;}
.hot_mes_right ul{ background:url(../images/movie_ul_bg.jpg) no-repeat; width:596px; height:242px;  }
.hot_mes_right ul li{ width:486px; height:48px; padding-left:106px; }

.hot_mes_right_title{width:140px; font-size:12px; color:#000; font-weight:bold; padding-top:15px;   text-align:center; }
.hot_mes_right_type{width:290px; font-size:12px; color:#000; font-weight:bold; padding-left:40px; padding-top:15px;  }

.movie_more{ left:920px; top:14px; font-size:14px; color:#fffefe; padding:3px 24px; background:#62564c;}*/

.main_message2{width:1024px; height:880px; margin:0 auto;  }
.hot_mes_right{ width:604px; padding-top:20px;}
.hot_mes_tle{ background:url(../images/order_tit.png) no-repeat; width:124px; height:36px;}
.hot_mes_tle2{ background: url(../images/recommended_atv.png) no-repeat; width:124px; height:38px;}
.hot_mes_right ul{ padding-top:14px;}
.hot_mes_text{ color:#62564c;}
.hot_mes_right ul li{ width:635px; height:40px; font-size:18px; color:#62564c;}
.hot_mes_right ul li span{ width:7px; height:14px; padding-right:5px; background:url(../images/icon.png) no-repeat; background-position:-1px -13px; }
.hot_mes_right ul li a{color:#44687d; font-size:18px; text-decoration:underline;}
.hot_mes_right ul li u{ font-size:20px; color:#a63f1e; }
.rem_time{ font-size:20px; color:#a63f1e; padding:0 10px 0 20px;;}
.rem_tle{ font-size:16px; color:#000}
.rem_address{ padding:0 10px 0 20px;}
.rem_type{ padding-left:20px;}
.recommend_atv{ font-size:18px; color:#feffff; font-weight:400;}
.recommend_atv a{ font-size:20px; color:#a63f1e; text-decoration:underline;}

/*==========================主体左部==========================*/
.mes_left{ width:632px; padding-left:12px; padding-right:4px; }
.tab_box{}
.tab_title{ width:624px; height:33px; border-bottom:#44687d solid 1px;}
.tab_title ul { width:624px; height:38px; overflow:hidden}
.tab_title ul li{ float:left; width:92px; margin-right:8px; margin-left:4px; height:33px; text-align:center; line-height:30px; font-size:14px; color:#fefefe; background:url(../images/tab_btn_bg.png) no-repeat; background-position:0 0; cursor:pointer}
.tab_title ul li.active{float:left; width:92px; margin-right:8px; margin-left:4px; height:38px; text-align:center; line-height:30px; font-size:14px; color:#fefefe; background:url(../images/tab_btn_bg.png) no-repeat; background-position:0 -40px; cursor:pointer}

/*==========================tab标签切换==========================*/
.box{ width:640px;}
.box_mov_con{width:600px; height:780px; padding:20px 10px 0 20px;}
.box_title{ border-bottom:#62564c solid 3px; width:566px; height:30px; color:#62564c; font-size:16px; font-weight:bold; line-height:30px;}
.introduction{ width:520px; height:222px; padding-top:10px; font-size:14px; color:#62564c; font-weight:bold;}
.plot{ width:568px; font-size:14px;color:#62564c;font-weight:bold;padding-top:10px;text-indent:2em; line-height:24px; }

/*==========================tab标签切换 评分影评==========================*/
.movie_point{ }
.movie_main_total{ width:602px; height:76px; padding-top:40px; padding-left:4px; }
.movie_main_total_p{ height:50px; font-size:24px; color:#44687d}
.movie_main_total_p span{ font-size:32px; color:#a63f1e}
.movie_main_total_p em{ font-size:18px; font-weight:bold; font-style:normal;}

.movie_rating{ width:614px; height:262px; padding-top:10px;}
.movie_rating_title{ font-size:16px; color:#62564c; padding-bottom:2px; border-bottom:#62564c solid 3px; font-weight:bold;}
.movie_rating_title span{ left:290px; top:6px; font-size:12px; color:#000; font-weight:100;}
.movie_rating_list{width:640px;padding-bottom:20px;}
.movie_rating_list li{border-bottom:1px dashed #ccc;padding:5px 0;}
.movie_rating_content{ padding-top:10px;}

.professional_appraise{ width:614px; height:222px; padding-top:10px;}

.small_appraise{width:614px;}
.small_appraise_content ul li{ height:122px; border-bottom:#857b72 dashed 1px;}
.small_appraise_content_left{ width:84px; height:120px; }
.small_appraise_content_right{ width:520px; height:100px;  padding-top:20px}
.small_appraise_text{ background:url(../images/small_specialty_text_bg.png) no-repeat; width:508px; height:64px; padding-left:20px; padding-top:10px;  }
.small_appraise_text p{ width:490px;}
.small_appraise_time{ width:520px; font-size:12px; color:#62564c; padding-left:20px;}
.small_appraise_head{ padding-top:10px;}
.small_appraise_name{ font-size:16px; color:#62564c;}

/*===========================分页=========================================*/
.movie_page{padding-top:130px;height:27px;padding-bottom:42px;text-align:center;line-height:27px;}
.movie_page a{display:inline-block;width:27px;height:27px;line-height:27px;text-align:center;color:#62564c;font-size:17px;}
.movie_page a.active{background:#a63f1e;color:#FFF;}
.movie_page a.prev-page{ width:54px; padding-right:10px;}
.movie_page a.next-page{ width:54px; padding-left:10px;}
.movie_page a.disable{color:#b1a79f;}


/*==========================tab标签切换 电影游戏==========================*/
.box_game_loading{ width:620px; padding-top:30px;}
.box_game_loading ul{ width:680px; overflow:hidden;}
.box_game_loading ul li{ float:left; width:182px; height:244px; padding-right:38px;}
.game_loading{ height:30px; padding-top:2px; }
.game_name{font-size:18px; color:#000;}
.loading{ background:#a63f1e; color:#fff; font-size:14px; padding:1px 8px; left:136px; top:2px;}
.game_text{ font-size:14px; color:#62564c; font-weight:bold; /*font-family:"宋体"*/}

/*==========================tab标签切换 预告片==========================*/
.box_notice_mov{width:620px; padding-top:40px;}
.box_notice_mov ul{width:680px; overflow:hidden;}
.box_notice_mov ul li{ float:left; width:182px; height:224px; padding-right:38px;}
.notice_text{ font-size:12px;color:#62564c}

/*==========================tab标签切换 观影导航==========================*/
.viewing_nav{ width:604px; padding-left:20px;}
.viewing_nav p{ width:604px; /*height:46px;*/ font-size:18px; color:#a63f1e; font-style: italic; padding:32px 0px 32px 0px;}
.cinema_search{ width:345px; height:30px; line-height:30px; border:#62564c solid 1px; }
.search_city_list{ width:106px; height:30px; text-align:center; font-size:14px; color:#62564c; }
.city_list_icon{ background:url(../images/icon.png) no-repeat; background-position:0 -80px; width:32px; height:30px; border-left:#62564c solid 1px;border-right:#62564c solid 1px; }
.cinema_search_input{ width:172px; height:30px; }
.cinema_search_input input{ background:none; border:0; padding-left:20px; width:172px; height:30px; font-size:14px; color:#62564c;}
.cinema_search_btn{ width:32px; height:30px; background:url(../images/icon.png) no-repeat; background-position:0 -40px; border-left:#62564c solid 1px;}
.cinema_data{width:620px; height:780px; padding:20px 10px 0 0px;}

.cinema_search_outer{ width:592px; height:35px;}
.release_time{ width:222px; height:32px;}
.release_time ul li{ width:98px; height:31px; font-size:14px; color:#62564c; text-align:center; line-height:28px; float:left; border:#62564c solid 1px;}
.release_time ul li.active{ width:98px; height:31px; font-size:14px; color:#fff; text-align:center; line-height:28px; float:left; border:#62564c solid 1px; background:url(../images/time_btn.jpg) no-repeat;}

/*===================tab标签切换 观影导航 影院选择=======================*/
.cinema_select{ width:566px; height:236px; padding-top:10px; padding-bottom:0px; overflow:auto; }
.cinema_select_table{ width:546px; height:180px; font-size:14px; color:#62564c; padding-bottom:20px; }
.cinema_select_table tr{ height:32px;}
.cin_sel{ width:30px;}
.cin_name{ width:232px;}
.cin_total{ width:46px; text-align:right}
.cin_bank{ width:96px;}
.cin_type{ width:44px; text-align:center;  }
.type_span{ width:44px; height:20px; background:#c3c9c4; font-size:14px; font-weight:bold; color:#44687d; display:block; display:inline-block; }
.type_span2{ width:44px; height:20px; background:#a63f1e; font-size:14px; font-weight:bold; color:#fff; display:block; display:inline-block; }
.cin_award{ width:76px; text-align:center; font-size:14px; font-weight:bold; color:#44687d}
.cin_sel input{background:url(../images/icon.png) no-repeat; background-position:-1px -100px; list-style:none; width:12px; height:12px; border:0;}
.ticket_from{ font-size:12px; color:#62564c;}

/*===================tab标签切换 观影导航 场次对比结果====================*/
.cinema_result{ width:566px; height:364px; padding-top:4px; overflow:auto; }
.cinema_result_table{ width:546px; height:auto; font-size:14px; color:#62564c;text-align:center;}
.cinema_result_table tr{ border-bottom:#a29790 dashed 1px;}
.result_time{ width:78px; height:44px; }
.result_name{ width:128px; height:44px;}
.result_bank1{ width:38px; height:44px;}
.result_bank2{ width:50px; height:44px;}
.result_money{ width:68px; height:44px;}
.result_type{ width:100px; height:44px;}
.result_book{ width:70px; height:44px;}

/*===================tab标签切换 剧照====================*/
.stills{ width:624px; height:734px; }
.stills p{ width:624px; height:34px; padding-top:10px; text-align:right; font-size:14px; color:#62564c; font-weight:bold;}
.stills ul{ width:700px; height:734px; overflow:hidden;}
.stills ul li{ width:137px; height:137px; float:left; padding-right:25px; padding-bottom:30px;}


/*==========================主体右部 热门活动==========================*/
.mes_right{ width:362px; height:746px; padding-left:10px; }
.mes_atv{ width:361px; position:relative; left:0; top:0; }


/*=============================更多影片弹窗===============================*/
#mark_bg{ background:#000; filter:alpha(opacity=50); opacity:0.5;  position:absolute; left:0; top:0; z-index:99;}

#hot_movie_Box{border:#333333 solid 1px; width:860px; height:650px; background:#f0ede9; margin:0 auto; padding:10px 20px 10px 20px; position:absolute; left:0; top:0; z-index:100;}
.hot_movie_title{ width:860px; height:78px; border-bottom:#6e6259 solid 1px;}
.hot_movie_pic{ width:300px; height:68px; }
.hot_movie_text{ width:556px; height:42px; padding-top:26px;  font-size:14px; color:#6e6259; font-weight:bold;}
.hot_movie_text span{padding:0 6px; font-size:18px; color:#61842e;}
.hot_movie_text em{ padding:0 6px; font-size:24px; color:#a63f1e; font-style:normal;}

.hot_movie_delete{ left:860px; top:2px; background:url(../images/icon.png) no-repeat; background-position:-1px -184px; width:16px; height:16px; cursor:pointer;}

.hot_movie_content{ height:auto;}
.hot_movie_tab_title{ width:570px; height:60px; padding-left:300px; padding-top:20px;  text-align:center;}
.hot_movie_tab_title ul{}
.hot_movie_tab_title ul li{ float:left; height:30px; width:136px; padding-top:10px; border:#756960 solid 1px; font-size:14px; color:#6e6259;}
.hot_movie_tab_title ul li.active{ float:left; height:30px; width:136px; padding-top:10px; color:#fff; font-size:14px;  background:#44687e;}

.hot_movie_tab_box{ width:860px; height: auto; padding-top:10px; overflow:auto;}
.hot_movie_tab_box ul{ width:860px; height:500px; overflow:auto;}
.hot_movie_tab_box ul li{ float:left; width:168px; height:254px; padding-left:20px; padding-right:20px; }
.hot_movie_tab_box ul li p{ text-align:center; font-size:16px;}







