{% extends "base.html" %}
{% comment %}
transactions list template for omoma
copyright 2011 sebastien maccagnoni-munch

this file is part of omoma.

omoma is free software: you can redistribute it and/or modify
it under the terms of the gnu general public license as published by
the free software foundation, version 3.

omoma is distributed in the hope that it will be useful,
but without any warranty; without even the implied warranty of
merchantability or fitness for a particular purpose.  see the
gnu general public license for more details.

you should have received a copy of the gnu general public license
along with omoma. if not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load omoma %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% if account %}
        {% include "widgets/balance.html" %}
    {% else %}
        {% if not deleted %}
            {% include "widgets/homewidgets.html" %}
        {% endif %}
    {% endif %}


    {% contentbox title %}

        {% if deleted %}
            {% if transaction_list %}
                <a href="{% url remove_deleted_transactions %}"><img src="/static/icon_delete.png" class="icon" />{% trans "remove all deleted transactions" %}</a>
            {% else %}
                <p>{% trans "there is no deleted transaction." %}</p>
            {% endif %}
        {% else %}
            <a href="{% if aid %}{% url new_transaction aid=aid %}{% else %}{% url new_transaction %}{% endif %}"><img src="/static/icon_add.png" class="icon" />{% trans "add transaction" %}</a> - <a href="{% if aid %}{% url import_transactions aid=aid %}{% else %}{% url import_transactions %}{% endif %}"><img src="/static/icon_import.png" class="icon" />{% trans "import transactions" %}</a>
            {% if not transaction_list %}
                <p>{% trans "there is no transaction in this account." %}</p>
            {% endif %}
        {% endif %}

        {% if transaction_list %}

            {% include "pagination.html" %}
            <table>
                <tr class="header">
                    <th class="links"></th>
                    <th class="description">{% trans "description" %}</th>
                    <th class="amount">{% trans "amount" %}</th>
                    <th class="categories">{% trans "categories" %}</th>
                    <th class="date">{% trans "date" %}</th>
                    {% if not account %}
                        <th class="account">{% trans "account" %}</th>
                    {% endif %}
                </tr>

                {% for t in transaction_list %}
                    <tr>
                        <td class="links">
                            {% if deleted %}
                                <a href="{% url restore_transaction tid=t.id %}">
                                    <img src="/static/icon_recover.png" class="icon" />
                                </a>
                            {% else %}
                                {% if not t.validated %}
                                    <a href="{% if aid %}{% url transaction tid=t.id aid=aid %}{% else %}{% url transaction tid=t.id %}{% endif %}">
                                        <img src="/static/icon_edit.png" class="icon" />
                                    </a>
                                    <a href="{% if aid %}{% url delete_transaction tid=t.id aid=aid %}{% else %}{% url delete_transaction tid=t.id %}{% endif %}">
                                        <img src="/static/icon_delete.png" class="icon" />
                                    </a>
                                {% endif %}
                                <a href="{% if aid %}{% url validate_transaction tid=t.id aid=aid %}{% else %}{% url validate_transaction tid=t.id %}{% endif %}">
                                    {% if t.validated %}
                                        <img src="/static/icon_validated.png" class="icon" />
                                    {% else %}
                                        <img src="/static/icon_notvalidated.png" class="icon" />
                                    {% endif %}
                                </a>
                            {% endif %}
                        </td>
                        <td class="description">{{ t.description }}{% if t.has_iou %}&nbsp;<img src="/static/icon_iou.png" class="icon" />{% endif %}{% if t.original_description and t.original_description != t.description %}&nbsp;<span class="originaldescription">(&nbsp;{{ t.original_description }}&nbsp;)</span>{% endif %}</td>
                        <td class="amount">{{ t.amount|signedmoney:t.account }}</td>
                        <td class="categories">{% for tc in t.transactioncategory_set.all %}{{ tc.category.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        <td class="date">{{ t.date|date:"short_date_format" }}</td>
                        {% if not account %}
                            <td class="account">{{ t.account.name }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </table>
            {% include "pagination.html" %}

        {% endif %}

    {% endbox %}

{% endblock content %}
